*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: #E5E5E5;
}
p{
	text-align: center;
}
.wrapper{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;	
}

.container_header{
	margin-right: 71px;
	margin-bottom: 10px;
	margin-left: 71px;
	display: flex ;
}

.header{
	background: #fff;
}
nav{
	display: inline-block;
}
li{	display: inline-block;
	list-style-type: none;
	margin-right: 33px;
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 20px;
	padding-top: 19px;

}
a{
	text-decoration: none;
	color: #000;
}
li:hover{
	border-bottom: solid 2px #756257;
	}

}

img{ display: block;
	margin: 0 auto;
	padding-top: 0;
}
.more{
	text-align: right;
}
.logo{
	justify-content: center;
}
.a_top{
	margin-top: 19px;
	height: 100%;
	max-width: 160px;
	width: 100%;
	text-decoration: none;
	color: #fff;
	background: #756257;
	font-size: 16px;
	text-transform: uppercase;
	padding-top: 9px;
	padding-bottom: 10px;
	border-radius: 3px;
	text-align: center;
}
.main_img{
	background-image: url('../img/index-background.png');
	background-size: cover;
	padding-top: 51px;
	margin-top: -21px;
}

 .welcome{
 	text-align: center;
 }
 h2{
 	text-align: center;
 	color: #81B3D3;
 	text-transform: uppercase;
 	font-size: 50px;
 	letter-spacing: 0.01em;
 	margin-bottom: 11px;
 }

 .gorgeous{
 	display: block;
 	margin-bottom: 53px;
 }
 .sedona{
 	margin-bottom: 27px;
 }
 .welc_bottom{
 	width: 100%;
 }
 .about_text{
 	padding-top: 63px;
 	padding-bottom: 79px;
 	background: #fff;
 }
 h3{font-size: 30px;
 	font-weight: 700;
 	line-height: 36px;
 	text-transform: uppercase;
 	margin-bottom: 23px;
 	text-align: center;
 }
 .welcome p{
font-size: 22px;
line-height: 36px;
 }

 .real_town{ 	display: flex;
}

 .reason1{
 	text-align: center;
 	font-size: 24px;
 	font-weight: 700;
 	text-transform: uppercase;
 	padding-top: 98px;
 	padding-bottom: 77px;
 	max-width: 400px;
 	width: 100%;
 	max-height: 384px;
 	height: 100%;
 	text-align: center;
 	background: #83B3D3;
 	color: #fff;
 }
 h4{font-size: 24px;
 	margin-bottom: 25px;
 }
 .reason1 p{
 	font-size: 18px;
 	color: #fff;
 	line-height: 21px;
 	font-weight: 400;
 	margin-bottom: 25px;
 	ttn
 }
 .reason_img{
 	max-width: 800px;
 	width: 100%;
 	max-height: 384px;
 	height: 100%;
 }
 .count{
 	display: flex;
 }
 .icon
 	{text-align: center;
 	font-size: 24px;
 	font-weight: 700;
 	text-transform: uppercase;
 	padding-top: 98px;
 	padding-bottom: 77px;
 	max-width: 400px;
 	width: 100%;
 	max-height: 384px;
 	height: 100%;
 	text-align: center;
 	color: #000;
 	background: rgba(131, 179, 211, 0.12);

 }
 .count p{
 	font-size: 18px;
 	font-weight: 400;
 	line-height: 21px;
 	text-transform:none ;

 }
 .food{
 	background: rgba(255, 255, 255, 1);

 }
 .reason2{
 	display: flex;
 }
 .road{
 	text-align: center;
 	font-size: 24px;
 	font-weight: 700;
 	text-transform: uppercase;
 	padding-top: 98px;
 	padding-bottom: 77px;
 	max-width: 400px;
 	width: 100%;
 	max-height: 384px;
 	height: 100%;
 	text-align: center;
 	color: #000;
 	background: rgba(131, 179, 211, 0.2);

 }
 .rest p{
 	color: #000;
 	text-transform: none;
 }
 .booking{
 	padding: 91px 0;
 	background: #fff;
 	text-align: center;
 }
 .booking h3{
 	margin-bottom: 15px;
 }
 .booking p{
 	font-size: 22px;
 	line-height: 26px;
 	margin-bottom: 73px;
 }
 .booking a{
 	max-width: 575px;
 	width: 100%;
 	text-transform: uppercase;
 	background: #756257;
 	font-size: 20px;
 	font-weight: 700;
 	padding: 13px 72px 17px;
 	/*padding-bottom: 17px;*/
 	border-radius: 10px;

 }
 .news_letter{
 	text-align: center;
 	color: #fff;
 	padding-top: 94px;
 	padding-bottom: 94px;
 	background-image: url(../img/back_news.png);
 }
 .news_letter h3{
 	margin-bottom: 15px;
 }
 .news_letter p{
 	line-height: 26px;
 	margin-bottom: 26px;
 }

.input_button{
	display: flex;
	justify-content: center;
}

 .subscribe{
 	display: inline-block;
 	max-width: 800px;
 	width: 100%;
 }
 .sub_input{
 	font-size: 18px;
 	line-height: 26px;
 	border: none;
 	background: #f2f2f2;
 	max-width: 600px;
 	width: 100%;
 	border-radius:10px 0 0 10px ;
 	padding: 22px 0 22px 22px;
 }
 .btn{
 	max-width: 200px;
 	width: 100%;
 	background: #83B3D3;
 	border: none;
 	font-size: 20px;
 	line-height: 26px;
 	border-radius: 0 10px 10px 0;
 	padding: 22px;
 	font-size: 20px;
 	line-height: 26px;
 	font-weight: 700;
 	text-transform: uppercase;
 	color: #fff;

 }
 footer{
 	background: #fff;
 }
 .footer_info{
 	padding-top: 40px;
 	display: flex;
 	padding-left: 70px;
 	padding-right: 70px;
 	justify-content: space-between;
 }
 .social{padding-top: 10px;
 	padding-bottom: 54px;
 	display: flex;
 }
 .soc_media{
 	margin-right: 30px;
 }
 .tel{
/* 	padding-top: 40px;
*/ 	color: #000;
 	font-size: 40px;
 	line-height: 40px;
 }